<!DOCTYPE html>
<html>
<head>
    <title>Stock Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <header>
        <img src="{{ url_for('static', filename='images/statestreet_logo.png') }}" alt="StateStreet Logo">
    </header>
    <main>
        <h1>Apple Stock Data</h1>
        <div id="candlestick-chart"></div>
        <div id="bar-chart"></div>
        <div id="line-chart"></div>
        <div id="figure-chart"></div>
    </main>
    <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
</body>
</html>