<!DOCTYPE html>
<html>
<head>
    <title>{{ stock_name }} Stock Data</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>{{ stock_name }} Stock Data</h1>
    <div id="candlestick-chart"></div>
    <div id="bar-chart"></div>
    <div id="line-chart"></div>
    <script>
        // Process stock data and generate charts using Plotly.js
        // Candlestick chart
        var candlestickData = {{ candlestick_data | safe }};
        var candlestickLayout = {
            // Layout options for candlestick chart
        };
        Plotly.newPlot('candlestick-chart', candlestickData, candlestickLayout);
        // Bar chart
        var barData = {{ bar_data | safe }};
        var barLayout = {
            // Layout options for bar chart
        };
        Plotly.newPlot('bar-chart', barData, barLayout);
        // Line chart
        var lineData = {{ line_data | safe }};
        var lineLayout = {
            // Layout options for line chart
        };
        Plotly.newPlot('line-chart', lineData, lineLayout);
    </script>
</body>
</html>