{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h2>Live Logs</h2>
        <!-- Move the Kill Process button below the h2 and float it to the right -->
        <button onclick="killProcess()" style="float: right; margin-bottom: 10px;">Kill Process</button>
        
        <!-- Clear the float -->
        <div style="clear: both;"></div>

        <!-- Container for the log with a scrollbar -->
        <div id="logContainer" style="max-height: 750px; overflow-y: auto; border: 1px solid gray;">
            <pre id="log"></pre>
        </div>
    </div>
    <script>
        function killProcess() {
            fetch('/kill')
              .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
              })
              .catch(error => {
                console.log('There was a problem with the fetch operation:', error.message);
              });
        }

        if (!!window.EventSource) {
            var source = new EventSource('/logstream');

            source.onmessage = function(event) {
                var logElement = document.getElementById("log");
                var container = document.getElementById("logContainer");
                
                logElement.textContent += event.data + "\n";

                // Scroll to the bottom
                container.scrollTop = container.scrollHeight;
            };

            source.onerror = function(event) {
                console.error("EventSource failed:", event);
                source.close();
            };
        } else {
            console.log("Your browser doesn't support SSE");
        }
    </script>
{% endblock %}
