{% extends 'layout.html' %}

{% block content %}


    <div class="jumbotron text-center">
      <h1>StateStreet Tool Generation Suite</h1>
      <p>Resize this responsive page to see the effect!</p> 
    </div>
      
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>Task to achive</h3>
          <!-- <form action="/action_page.php">
            <p><label for="w3review">Describe the task</label></p>
            <textarea id="w3review" name="w3review" rows="4" cols="50">At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.</textarea>
            <br>
            <input type="submit" value="Submit">
          </form> -->
        </form>
        </div>
        <div class="col-sm-4">
          <h3>Message log</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
          <h3>Tool output</h3>        
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
      </div>
    </div>
    {% endblock %}
