
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
    <div class="logo">
        <img src="{{ url_for('static', filename='images/statestreet_logo.png') }}" alt="StateStreet Logo">
    </div>
    <h1>Login</h1>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>